@charset "utf-8";
/* CSS Document */
.VAMiddle{
	vertical-align:middle;
}
.VATop{
	vertical-align:top;
}

.VABottom{
	vertical-align:bottom;
}
.nodeco{
	text-decoration:none;
	color:inherit;
}

.txtUnderline{text-decoration:underline;}
a.underline{
	text-decoration:underline;
	color:inherit;
}

.txtItalic{font-style: italic;}
.txtBold{font-weight:bold;}
.txtSlim{font-weight:400;}

.txtLeft{text-align:left;}
.txtRight{text-align:right;}
.txtCenter{text-align:center;}



.txtBlack{color:#000;}
.txtWhite{color:#FFF;}
.txtRed{color:#F00;}
.txtGreen{color:#093;}
.txtErr{color:#FF6464;}
.txtFlavour{color:$flavourColor;}

.txtLower{	text-transform:lowercase;}

.bgBlack{background-color:#000;}
.bgWhite{background-color:#FFF;}

.bgError{
	border-bottom:3px solid #FFA4A4;
}

.bgErr{
	border-bottom:3px solid #F00;
	background-color: #FFA4A4;
}

.hide{display:none;}
a.hide{display:none;}
/***************Sizes - paddings - margins *********/
.w1{width:1%;}
.w3{width:3%;}
.w5{width:5%;}
.w10{width:10%;}
.w15{width:15%;}
.w21{width:21%;}
.w58{width:58%;}
.w15{width:15%;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w33{width:33.3333333%;}
.w35{width:35%;}
.w40{width:40%;}
.w45{width:45%;}
.w50{width:50%;}
.w55{width:55%;}
.w60{width:60%;}
.w65{width:65%;}
.w66{width:66.6666666%;}
.w70{width:70%;}
.w75{width:75%;}
.w80{width:80%;}
.w85{width:85%;}
.w90{width:90%;}
.w95{width:95%;}
.w99{width:99%;}
.w100{width:100%;}


.w58{width:58%;}
.w3{width:3%;}
.w18{width:18%;}

.w1px{width:1px;}
.w5px{width:5px;}
.w10px{width:10px;}
.w15px{width:15px;}
.w20px{width:20px;}
.w25px{width:25px;}
.w30px{width:30px;}
.w35px{width:35px;}
.w40px{width:40px;}
.w45px{width:45px;}
.w50px{width:50px;}
.w55px{width:55px;}
.w60px{width:60px;}
.w65px{width:65px;}
.w70px{width:70px;}
.w75px{width:75px;}
.w80px{width:80px;}
.w85px{width:85px;}
.w90px{width:90px;}
.w95px{width:95px;}
.w100px{width:100px;}
.w105px{width:105px;}
.w110px{width:110px;}
.w115px{width:115px;}
.w120px{width:120px;}
.w125px{width:125px;}
.w130px{width:130px;}
.w135px{width:135px;}
.w140px{width:140px;}
.w145px{width:145px;}
.w150px{width:150px;}
.w160px{width:160px;}
.w170px{width:170px;}
.w180px{width:180px;}
.w190px{width:190px;}
.w200px{width:200px;}
.w210px{width:210px;}
.w220px{width:220px;}
.w230px{width:230px;}
.w240px{width:240px;}
.w250px{width:250px;}

.h1px{height:1px;}
.h5px{height:5px;}
.h10px{height:10px;}
.h15px{height:15px;}
.h20px{height:20px;}
.h25px{height:25px;}
.h30px{height:30px;}
.h35px{height:35px;}
.h40px{height:40px;}
.h45px{height:45px;}
.h50px{height:50px;}
.h55px{height:55px;}
.h60px{height:60px;}
.h65px{height:65px;}
.h70px{height:70px;}
.h75px{height:75px;}
.h80px{height:80px;}
.h85px{height:85px;}
.h90px{height:90px;}
.h95px{height:95px;}
.h100px{height:100px;}
.h105px{height:105px;}
.h110px{height:110px;}
.h115px{height:115px;}
.h120px{height:120px;}
.h125px{height:125px;}
.h130px{height:130px;}
.h135px{height:135px;}
.h140px{height:140px;}
.h145px{height:145px;}
.h150px{height:150px;}
.h160px{height:160px;}
.h170px{height:170px;}
.h180px{height:180px;}
.h190px{height:190px;}
.h200px{height:200px;}
.h210px{height:210px;}
.h220px{height:220px;}
.h230px{height:230px;}
.h240px{height:240px;}
.h250px{height:250px;}

.h25{height:25%;}
.h50{height:50%;}
.h75{height:75%;}
.h100{height:100%;}

.mb0px{margin-bottom:0px;}
.mb1px{margin-bottom:1px;}
.mb2px{margin-bottom:2px;}
.mb3px{margin-bottom:3px;}
.mb4px{margin-bottom:4px;}
.mb5px{margin-bottom:5px;}
.mb10px{margin-bottom:10px;}
.mb15px{margin-bottom:15px;}
.mb20px{margin-bottom:20px;}
.mb25px{margin-bottom:25px;}
.mb30px{margin-bottom:30px;}
.mb35px{margin-bottom:35px;}
.mb40px{margin-bottom:40px;}
.mb45px{margin-bottom:45px;}
.mb50px{margin-bottom:50px;}
.mb55px{margin-bottom:55px;}
.mb60px{margin-bottom:60px;}
.mb65px{margin-bottom:65px;}
.mb70px{margin-bottom:70px;}
.mb75px{margin-bottom:75px;}
.mb80px{margin-bottom:80px;}
.mb85px{margin-bottom:85px;}
.mb90px{margin-bottom:90px;}
.mb95px{margin-bottom:95px;}
.mb100px{margin-bottom:100px;}

.mt0px{margin-top:0px;}
.mt1px{margin-top:1px;}
.mt2px{margin-top:2px;}
.mt3px{margin-top:3px;}
.mt4px{margin-top:4px;}
.mt5px{margin-top:5px;}
.mt10px{margin-top:10px;}
.mt10{margin-top:10%;}
.mt15px{margin-top:15px;}
.mt20px{margin-top:20px;}
.mt25px{margin-top:25px;}
.mt30px{margin-top:30px;}
.mt35px{margin-top:35px;}
.mt40px{margin-top:40px;}
.mt45px{margin-top:45px;}
.mt50px{margin-top:50px;}
.mt55px{margin-top:55px;}
.mt60px{margin-top:60px;}
.mt65px{margin-top:65px;}
.mt70px{margin-top:70px;}
.mt75px{margin-top:75px;}
.mt80px{margin-top:80px;}
.mt85px{margin-top:85px;}
.mt90px{margin-top:90px;}
.mt95px{margin-top:95px;}
.mt100px{margin-top:100px;}
.mt120px{margin-top:120px;}
.mt130px{margin-top:130px;}
.mt140px{margin-top:140px;}
.mt150px{margin-top:150px;}
.mt170px{margin-top:170px;}
.mt190px{margin-top:190px;}
.mt200px{margin-top:200px;}

.mlp{margin-left:1%;}
.ml1px{margin-left:1px;}
.ml2px{margin-left:2px;}
.ml3px{margin-left:3px;}
.ml4px{margin-left:4px;}
.ml5px{margin-left:5px;}
.ml10px{margin-left:10px;}
.ml15px{margin-left:15px;}
.ml20px{margin-left:20px;}
.ml25px{margin-left:25px;}
.ml30px{margin-left:30px;}
.ml35px{margin-left:35px;}
.ml40px{margin-left:40px;}
.ml45px{margin-left:45px;}
.ml50px{margin-left:50px;}
.ml55px{margin-left:55px;}
.ml60px{margin-left:60px;}
.ml65px{margin-left:65px;}
.ml70px{margin-left:70px;}
.ml75px{margin-left:75px;}
.ml80px{margin-left:80px;}
.ml85px{margin-left:85px;}
.ml90px{margin-left:90px;}
.ml95px{margin-left:95px;}
.ml100px{margin-left:100px;}

.mr1px{margin-right:1px;}
.mr2px{margin-right:2px;}
.mr3px{margin-right:3px;}
.mr4px{margin-right:4px;}
.mr5px{margin-right:5px;}
.mr10px{margin-right:10px;}
.mr15px{margin-right:15px;}
.mr20px{margin-right:20px;}
.mr25px{margin-right:25px;}
.mr30px{margin-right:30px;}
.mr35px{margin-right:35px;}
.mr40px{margin-right:40px;}
.mr45px{margin-right:45px;}
.mr50px{margin-right:50px;}
.mr55px{margin-right:55px;}
.mr60px{margin-right:60px;}
.mr65px{margin-right:65px;}
.mr70px{margin-right:70px;}
.mr75px{margin-right:75px;}
.mr80px{margin-right:80px;}
.mr85px{margin-right:85px;}
.mr90px{margin-right:90px;}
.mr95px{margin-right:95px;}
.mr100px{margin-right:100px;}

.mb4p{margin-bottom:4%;}
.mb5p{margin-bottom:5%;}

.pb1px{padding-bottom:1px;}
.pb2px{padding-bottom:2px;}
.pb3px{padding-bottom:3px;}
.pb4px{padding-bottom:4px;}
.pb5px{padding-bottom:5px;}
.pb10px{padding-bottom:10px;}
.pb15px{padding-bottom:15px;}
.pb20px{padding-bottom:20px;}
.pb25px{padding-bottom:25px;}
.pb30px{padding-bottom:30px;}
.pb35px{padding-bottom:35px;}
.pb40px{padding-bottom:40px;}
.pb45px{padding-bottom:45px;}
.pb50px{padding-bottom:50px;}
.pb55px{padding-bottom:55px;}
.pb60px{padding-bottom:60px;}
.pb65px{padding-bottom:65px;}
.pb70px{padding-bottom:70px;}
.pb75px{padding-bottom:75px;}
.pb80px{padding-bottom:80px;}
.pb85px{padding-bottom:85px;}
.pb90px{padding-bottom:90px;}
.pb95px{padding-bottom:95px;}
.pb100px{padding-bottom:100px;}
.pb190px{padding-bottom:190px;}

.pt1px{padding-top:1px;}
.pt2px{padding-top:2px;}
.pt3px{padding-top:3px;}
.pt4px{padding-top:4px;}
.pt5px{padding-top:5px;}
.pt10px{padding-top:10px;}
.pt15px{padding-top:15px;}
.pt20px{padding-top:20px;}
.pt25px{padding-top:25px;}
.pt30px{padding-top:30px;}
.pt35px{padding-top:35px;}
.pt40px{padding-top:40px;}
.pt45px{padding-top:45px;}
.pt50px{padding-top:50px;}
.pt55px{padding-top:55px;}
.pt60px{padding-top:60px;}
.pt65px{padding-top:65px;}
.pt70px{padding-top:70px;}
.pt75px{padding-top:75px;}
.pt80px{padding-top:80px;}
.pt85px{padding-top:85px;}
.pt90px{padding-top:90px;}
.pt95px{padding-top:95px;}
.pt100px{padding-top:100px;}
.pt150px{padding-top:150px;}
.pt190px{padding-top:190px;}

.pl1px{padding-left:1px;}
.pl2px{padding-left:2px;}
.pl3px{padding-left:3px;}
.pl4px{padding-left:4px;}
.pl5px{padding-left:5px;}
.pl10px{padding-left:10px;}
.pl15px{padding-left:15px;}
.pl20px{padding-left:20px;}
.pl25px{padding-left:25px;}
.pl30px{padding-left:30px;}
.pl35px{padding-left:35px;}
.pl40px{padding-left:40px;}
.pl45px{padding-left:45px;}
.pl50px{padding-left:50px;}
.pl55px{padding-left:55px;}
.pl60px{padding-left:60px;}
.pl65px{padding-left:65px;}
.pl70px{padding-left:70px;}
.pl75px{padding-left:75px;}
.pl80px{padding-left:80px;}
.pl85px{padding-left:85px;}
.pl90px{padding-left:90px;}
.pl95px{padding-left:95px;}
.pl100px{padding-left:100px;}

.pr1px{padding-right:1px;}
.pr2px{padding-right:2px;}
.pr3px{padding-right:3px;}
.pr4px{padding-right:4px;}
.pr5px{padding-right:5px;}
.pr10px{padding-right:10px;}
.pr15px{padding-right:15px;}
.pr20px{padding-right:20px;}
.pr25px{padding-right:25px;}
.pr30px{padding-right:30px;}
.pr35px{padding-right:35px;}
.pr40px{padding-right:40px;}
.pr45px{padding-right:45px;}
.pr50px{padding-right:50px;}
.pr55px{padding-right:55px;}
.pr60px{padding-right:60px;}
.pr65px{padding-right:65px;}
.pr70px{padding-right:70px;}
.pr75px{padding-right:75px;}
.pr80px{padding-right:80px;}
.pr85px{padding-right:85px;}
.pr90px{padding-right:90px;}
.pr95px{padding-right:95px;}
.pr100px{padding-right:100px;}
