.col {
  position: relative;
  float: left;
  min-height: 1px;
}
.span1 {
  width: 4.166666666666667%;
}
.span2 {
  width: 8.333333333333334%;
}
.span3 {
  width: 12.5%;
}
.span4 {
  width: 16.666666666666668%;
}
.span5 {
  width: 20.833333333333336%;
}
.span6 {
  width: 25%;
}
.span7 {
  width: 29.166666666666668%;
}
.span8 {
  width: 33.333333333333336%;
}
.span9 {
  width: 37.5%;
}
.span10 {
  width: 41.66666666666667%;
}
.span11 {
  width: 45.833333333333336%;
}
.span12 {
  width: 50%;
}
.span13 {
  width: 54.16666666666667%;
}
.span14 {
  width: 58.333333333333336%;
}
.span15 {
  width: 62.50000000000001%;
}
.span16 {
  width: 66.66666666666667%;
}
.span17 {
  width: 70.83333333333334%;
}
.span18 {
  width: 75%;
}
.span19 {
  width: 79.16666666666667%;
}
.span20 {
  width: 83.33333333333334%;
}
.span21 {
  width: 87.5%;
}
.span22 {
  width: 91.66666666666667%;
}
.span23 {
  width: 95.83333333333334%;
}
.span24 {
  width: 100%;
}
