@import "vars.styl";
@import "mixins.styl";

.col{
  position: relative;
  float: left;
  min-height: 1px;
}

.span1 { width : ($colWidth*1) %; }
.span2 { width : ($colWidth*2) %; }
.span3 { width : ($colWidth*3) %; }
.span4 { width : ($colWidth*4) %; }
.span5 { width : ($colWidth*5) %; }
.span6 { width : ($colWidth*6) %; }
.span7 { width : ($colWidth*7) %; }
.span8 { width : ($colWidth*8) %; }
.span9 { width : ($colWidth*9) %; }
.span10 { width : ($colWidth*10) %; }
.span11 { width : ($colWidth*11) %; }
.span12 { width : ($colWidth*12) %; }
.span13 { width : ($colWidth*13) %; }
.span14 { width : ($colWidth*14) %; }
.span15 { width : ($colWidth*15) %; }
.span16 { width : ($colWidth*16) %; }
.span17 { width : ($colWidth*17) %; }
.span18 { width : ($colWidth*18) %; }
.span19 { width : ($colWidth*19) %; }
.span20 { width : ($colWidth*20) %; }
.span21 { width : ($colWidth*21) %; }
.span22 { width : ($colWidth*22) %; }
.span23 { width : ($colWidth*23) %; }
.span24 { width : ($colWidth*24) %; }