// ====================
// = STYLUS VARIABLES =
// ====================

$inter=Inter;
$blauw=#14108B;

$maxwidth=1920;/*1480*/
$OnePercent=$maxwidth/100;
$colWidthPx=$maxwidth/24;
$colWidth=$colWidthPx/$OnePercent;